body {
  margin: 0;
  margin-top: 60px;
  background-color: #f4f5f8;
  font-family: 'Yu Gothic', YuGothic, 'Hiragino Sans',
    'Hiragino Kaku Gothic ProN', Verdana, 'メイリオ', Meiryo, sans-serif !important;
  color: rgba(0, 0, 0, 0.6);
}

h1 {
  font-weight: 700 !important;
  font-family: 'Yu Gothic', YuGothic, 'Hiragino Sans',
    'Hiragino Kaku Gothic ProN', Verdana, 'メイリオ', Meiryo, sans-serif !important;
}

@media screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
  .manage-container {
    margin: 0 auto;
  }
  .sp-width {
    width: 360px;
  }
}
@media screen and (min-width: 1024px) {
  .sp-only {
    display: none;
  }
  .manage-container {
    margin: 0 auto;
  }
  .pc-modal-width {
    width: 600px;
  }
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.bold {
  font-weight: bold;
}

.fs15rem {
  font-size: 1.5rem;
}

.ml100 {
  margin-left: 100px;
}

input[type='button'],
input[type='text'],
input[type='submit'],
input[type='image'],
textarea {
  outline: none !important;
}

*:focus {
  outline: none;
}

input[type='text'],
input[type='password'],
textarea,
select {
  outline: none;
}

input[type='text'],
input[type='password'],
textarea,
select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border-color: none !important;
}

.fs12 {
  font-size: 1.2rem;
}

.wi30 {
  width: 30%;
}
.wi40 {
  width: 40%;
}
.wi45 {
  width: 45%;
}
.wi50 {
  width: 50%;
}
.wi100 {
  width: 100%;
}
.wi-100 {
  width: 100px;
}
.wi-200 {
  width: 200px;
}
.wi-300 {
  width: 300px;
}

.rounded-md {
  border-radius: 0.375rem;
}

a {
  text-decoration: none;
}
.justify-around {
  justify-content: space-around;
}
.justify-space {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-right {
  justify-content: right;
}
.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}
.gap-40 {
  gap: 40px;
}

.manage-title {
  padding: 1rem;
  background-color: #a5e9d8;
  /* background-color: #a5e9d8; */
  text-align: center;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.45);
}

.content-wrap-1000 {
  width: 1000px;
  margin: 4rem auto 0 auto;
}
.content-wrap-1200 {
  width: 1200px;
  margin: 4rem auto 0 auto;
}
.content-wrap-1300 {
  width: 1300px;
  margin: 4rem auto 0 auto;
}
.content-wrap {
  width: 800px;
  margin: 4rem auto 0 auto;
}
@media screen and (max-width: 767px) {
  .content-wrap-1000 {
    width: 100%;
    margin: 4rem auto 0 auto;
  }
}
.item::before {
  color: #009b9e;
  content: '■';
  font-size: 100%;
  margin-right: 10px;
}
.al-center {
  align-items: center;
}
.button-area {
  text-align: center;
  margin: 2rem auto;
}
.sticky {
  position: sticky;
}
.z-999 {
  z-index: 999;
}
.top-0 {
  top: 0;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.bottom-0 {
  bottom: 0;
}
.bg-white {
  background-color: #fff;
}
.bg-iceberg {
  background-color: #dff2f6;
}
.bg-gray {
  background-color: #ddd;
}
.color-white {
  color: #fff;
}
.color-saturday {
  color: #1e90ff;
}
.color-sunday {
  color: #ff0000;
}
.color-holiday {
  color: #ff0000;
}
.p0 {
  padding: 0;
}
.p1 {
  padding: 1rem;
}
.p2 {
  padding: 2rem;
}
.pt1 {
  padding-top: 1rem;
}
.pb1 {
  padding-bottom: 1rem;
}
.mt1 {
  margin-top: 1rem;
}
.mt2 {
  margin-top: 2rem;
}
.mb1 {
  margin-bottom: 1rem;
}
.mb05 {
  margin-bottom: 0.5rem;
}
.mr1 {
  margin-right: 1rem;
}
.ml1 {
  margin-left: 1rem;
}
.br0 {
  border-radius: 0;
}
.b-gray {
  border: 1px solid #ddd;
}
.bb-gray {
  border-bottom: 1px solid #ddd;
}
.color-display-span {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-left: 50px;
}
.focus-green:focus {
  background-color: #a5e9d8;
  color: #fff;
}
.text-r {
  text-align: right;
}
.text-c {
  text-align: center;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.top-0 {
  top: 0;
}
.right-0 {
  right: 0;
}
.right-10 {
  right: 10px;
}
.right-20 {
  right: 20px;
}
.left-0 {
  left: 0;
}
.bottom-0 {
  bottom: 0;
}
.p-relative {
  position: relative;
}

.header-logo-area {
  width: 250px;
}
.mt-header {
  margin-top: 120px;
}

.filter-60 {
  /* filter: contrast(60%); */
}
.top-visual:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 600px;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
.top-visual {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url('/images/top/top2.png');
  background-size: cover;
  z-index: 0;
}

.stand-out {
  text-shadow: 0 2px 2px #666;
}

#topSearchArea {
  width: 500px;
  padding: 100px 0;
  margin: 0 auto;
}
.topSearchModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 80vh;
  background: #fff;
  border: 1px solid #000;
  box-shadow: 24;
  /* padding: 4rem; */
}
@media screen and (max-width: 767px) {
  #topSearchArea {
    width: 90%;
    padding: 30px 0;
    margin: 0 auto;
  }
  .topSearchModal {
    width: 360px;
    /* padding: 1rem; */
  }
}
.search-badge {
  min-width: 72px;
  height: 32px;
  font-size: 12px;
  text-align: center;
  padding: 8px 15px;
  margin-right: 6px;
  line-height: 15.6px;
  -webkit-box-shadow: 0 2px 4px #00000033;
  box-shadow: 0 2px 6px #ddd;
  border: 1px solid #ddd;
  cursor: pointer;
}
.search-badge:hover {
  opacity: 0.8;
  border: 1px solid #0e90c4;
}
.white-noerap {
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .top-badge-area {
    overflow: scroll;
    white-space: nowrap;
    height: 50px;
  }
}
.pointer {
  cursor: pointer;
}
.dental-card:hover {
  border: 1px solid #dff2f6;
}
.btnRadio {
  display: none;
}
.btnRadio:checked + label {
  background: #0e90c4; /* マウス選択時の背景色を指定する */
  color: #ffffff; /* マウス選択時のフォント色を指定する */
}
.btnRadioLabel {
  display: block; /* ブロックレベル要素化する */
  float: left; /* 要素の左寄せ・回り込を指定する */
  height: 45px; /* ボックスの高さを指定する */
  padding-left: 5px; /* ボックス内左側の余白を指定する */
  padding-right: 5px; /* ボックス内御右側の余白を指定する */
  color: #333; /* フォントの色を指定 */
  text-align: center; /* テキストのセンタリングを指定する */
  line-height: 45px; /* 行の高さを指定する */
  cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
  border: 1px solid #0e90c4;
  border-radius: 0;
}
.btnRadioLabel:hover {
  background-color: #e2edf9; /* マウスオーバー時の背景色を指定する */
}
@media screen and (min-width: 1024px) {
  .confirm-pc {
    width: 290px;
    position: fixed;
    border-radius: 0;
  }
}
